<footer class="footer">
  <small>
    The <a href="http://www.theodinproject.com">The Odin Project</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", "http://www.theodinproject.com/ruby-on-rails/authentication?ref=lnav" %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>
